.row
  .span12
    #loadpage.btn.btn-small Load Page
    #clear.btn.btn-small Clear Tweets
    #count.btn.btn-small Count Tweets
.row
  #years.span1
    - @years.each do |year|
      %h2.year= year.to_i
  #months.span1.hidden
  #days.span1.hidden
  #tweets.span9